<mat-toolbar color="primary">
  <span>E-Commerce Shop</span>

  <div class="spacer"></div>

  <a mat-button routerLink="/products">Produkte</a>

  <ng-container *ngIf="isLoggedIn$ | async">
    <a mat-button routerLink="/cart">Warenkorb</a>
    <a mat-button routerLink="/my-orders">Meine Bestellungen</a>
    <a mat-button *ngIf="authService.isAdmin()" routerLink="/admin/orders">Admin</a>
  </ng-container>

  <div *ngIf="isLoggedIn$ | async; else loggedOut">
    <button mat-flat-button (click)="authService.logout()">Logout</button>
  </div>

  <ng-template #loggedOut>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Registrieren</a>
  </ng-template>

</mat-toolbar>

<main class="content">
  <router-outlet></router-outlet>
</main>
